body{
    background: beige;
    text-align: center;
}
.clac{
    display: inline-flex;
    margin-top: 25%;
}
.but{
    margin-right: 15px;
}
.result{
    font-size: 30px;
}
input {
    height: 36px;
    width: 50px;
}