
body{
    background: #444444;

}
.content{
    margin: 0 auto;
    background: #eeeeee;
    text-align: center;
    width: 304px;
    height: 437px;
}
.elems-control{
    display: flex;
}
.out {
    padding-left: 130px;
    margin: 10px;
}
.settings{
    padding-left: 3px;
    margin: 3px;
}
.correspondence{
    overflow-y: auto;
    position: relative;
    margin: 4px;
    width: 295px;
    height: 352px;
    border: 1px solid #000;
    background: #FFF;
}
.enter-msg {
    margin-top: 5px;
    border-radius: 2px;
    background: #E5E5E5;
    margin-left: 50%;
}

.name{
    text-decoration:underline;
}
#open-modal-btn{
    margin: 10px;
}
#out{
    margin: 10px;
    margin-left: 135px;
}
.message-template {
    border-radius: 50px;
}
.myMessage{
    background: rgb(75, 78, 75);
    color: white;
    margin: 5px;
    padding: 7px;
    text-align: left;
    border-radius: 10px;
    width: 139px;
    margin-left: 50%;

}

.interlocutor-message{
    margin: 5px;
    padding: 7px;
    color: white;
    text-align: justify;
    background: green;
    border-radius: 10px;
    width: 139px;
    height: auto;
}