body{
    background: #f1dac5;
    margin-top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.newDiv{
    display: block;
    flex-direction: column;

}